body {
	background: url(../img/fondo.jpg);
	background-position: center; 

}

.score{
	position: absolute;
	left: 200px;
	top: 200px;
}

.user_image {
	position: absolute;
	left: 600px;
	top: 100px;
}

.eventos {
	position: absolute;
	left: 200px;
	top: 300px;
}

	