html {
  height: 100%;
  
}

body {
	background: url(../img/body.jpg) no-repeat center center fixed;
	background-position: center;
  background-size: cover; 
	background-color: black;
  background-repeat: no-repeat;
}

#tabla {
  width: 70%;
}

#form {
  width: 60%;
  height: 55%;
  margin-top: 6%;
}

p {
	color: white;
	font-size: 12px;
}


.btn-primary {
    border-color: #C9370A;
    color: #C9370A;
    background-color: #FF4000;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn {
    border: 0;
    border-radius: 300px;
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
}

.btn-circle {
  width: 100px;
  height: 40px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 5;
  border-radius: 40px;
}