body {
	background-image: url(../img/fondo.jpg);
	background-position: center; 

}

.box_title {
	width: 350px;
	position: absolute;
	padding-left: 80px;
	height: 90px;
	left: 430px;
	border: 5px solid #369;
}

img.git {
	width: 100px;
	padding-left: 80px;
	position: absolute;
	left: 250px;

}

.input{
	position: absolute;
	top: 200px;
	left: 400px
}

.header{
	background-image: url('../img/header.jpg');
	position: fixed;
	bottom: 0;
	background-repeat: repeat-x;

}