body {
	background: url(../img/fondo.jpg);
	background-position: center; 
}

.score{
	position: absolute;
	left: 200px;
	top: 200px;
}

.user_image {
	position: absolute;
	left: 600px;
	top: 100px;
}

.eventos {
	position: absolute;
	left: 200px;
	top: 300px;
}

#header {
	background-image: url(../img/header.jpg);
	height: 130px;
    background-size: 50% 100%;
}

#contenedor {
	display: table;
	border-spacing: 5px;
	position: absolute;
	top: 150px;
	width: 97%;
	height: 75%;
}

#columna1 {
	display: table-cell;
	width: 60%;
}

#columna2 {
	padding-left: 25px;
	padding-right: 25px;
	display: table-cell;
	width: 40%;
}

.fila {
	display: table-row;
	height: 50%;
	width: 100%;
}

.datos {
	display: table-cell;
	width: 100%;
	padding-bottom: 50px;
}

#usuario1, #usuario2 {
	text-align: center;
}

#usuario2 {
	padding-top: 60px;
}

#profile_1, #profile_2 {
	padding-left: 30px;
	padding-right: 30px;
}

#winner {
	position: relative;
	top: 100px;
	text-align: center;
}

#vs {
	position: absolute;
	top: 450px;
	left: 220px;
	width: 120px;
	height: 70px;
	text-align: center;
}

h4 {
	font-size: 150%;
}

h1 {
	font-size: 200%;
}

